extend layout

block content
    h3 Feed me Seymour, Feed me!
        p This is a brief about us page.
    
    h4 John
        ul
            h5 Thing one
            h5 Thing two
            h5 Thing three
    h4 Scott
        ul
            h5 Thing one
            h5 Thing two
            h5 Thing three
    h4 Patrick
        ul
            h5 Thing one
            h5 Thing two
            h5 Thing three