extend layout

block content
    .container
        .row
            .col
                h1 Scrumban
                    br
                    br
                    br
                    br
                    br
                    br
                    h5 Want to Log In? 
                        a(href="/login") Login
                    br
                    br
                    h5 Need to Sign Up? 
                        a(href="/registration") Register