extend layout

block content
    .container
        .row
            .col
                h1 Scrumban
                    p Want to Log In? 
                        a(href="/login") Login
                    br
                    br
                    br
                    br
                    br
                    p Need to Sign Up? 
                        a(href="/registration") Register