extend layout

block content
    .container
        .row
            .col
                h1 Scrumban
                if registeredSuccessfully
                    .alert.alert-success
                form(method="POST" action="/login")
                    .form-group
                        label(for='user_name') User Name
                        input#name.form-control(type='text' aria-describedby='emailHelp' placeholder='Enter User Name' name="user_name")
                    .form-group
                        label(for='password') Password
                        input#password.form-control(type='password' aria-describedby='emailHelp' placeholder='Enter password' name="password")
                        br
                    button.btn.btn-primary Login
                    br
                    br
                    br
                    br
                    br
                    p Need to Sign Up? 
                        a(href="/registration") Register