header.header
  .container
    .row.d-flex.align-items-center.justify-content-between
      .col.col-auto
          img.header-logo(src="/images/apex_logo.jpg" width='75' height='75' alt="Apex Legend Logo")
      .col.col-auto
        ul.nav
          li.nav-item
            a.nav-link.active(href='/') Home Page
          li.nav-item
            a.nav-link(href="/explore") Legend Info
          li.nav-item
            a.nav-link(href='/about-us') About Me
          li.nav-item
            a.nav-link(href="/logout") Logout
